* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background-image: linear-gradient(to right top, #d8b4c9, #d2afce, #c8acd4, #bba9db, #a8a8e1, #97afec, #82b7f3, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
/* Starting page */
.container{
    width: 68%;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.05);
}
.difficultyLevel{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin:auto;
    height: 80%;
    border: 4px solid #bba9db;
    border-radius: 10px;
    margin: 5% 10%;
}
.inputTextType{
    width: 90%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 5%;
    border-bottom:4px solid #bba9db ;
    flex-wrap: wrap;
}
.level{
    outline: none;
    border: none;
    color: #bba9db;
    padding: 8px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 15px;
    border: 2px solid #bba9db;
    background: none;
    transition: transform 0.4s ease;
    display:block;
    justify-content: center;
    align-items: center;
    margin-left:10px;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 20px;
}
.level:hover {
    background-color: white;
    color: black;
    transform: scale(1.2);
}
.activeDiff{
    background-color: white;
    color: black;
    transform: scale(1.2);
}
.activeTime{
    background-color: white;
    color: black;
    transform: scale(1.2);
}
.startButton{
    background-color: #82b7f3;
    width:80%;
    color : white;
    font-size: 20px;
}
.time{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 5%;
    flex-wrap: wrap;
}
.difficultyLevel h1{
    padding : 20px 0px;
    color: #82b7f3 ;

}
/* testing Page */
h1{
    padding : 20px 0px;
    color: #ffffff ;
}
li p{
    font-weight: bold;
}
#paragraph{
    color: #646669;
}
.result-details{
    color: white;
}
::selection {
    color: #fff;
    background: #007acc;
}
.dispNone{
    display: none;
}
.wrapper {
    width: 70%;
    padding: 35px;
    background: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.05);
}
.wrapper .input-field {
    opacity: 0;
    z-index: -999;
    position: absolute;
}
.wrapper .content-box {
    padding: 13px 20px 0;
    border-radius: 10px;
    border: 4px solid #bba9db;
}
.content-box .typing-text {
    overflow: hidden;
    max-height: 256px;
    padding: 20px;
}
.typing-text::-webkit-scrollbar {
    width: 0;
}
.typing-text p {
    font-size: 21px;
    text-align: justify;
    letter-spacing: 1px;
    word-break: break-all;
    
}
.typing-text p span {
    position: relative;
}
.typing-text p span.correct {
    color: #d1d0c5;
}
.typing-text p span.incorrect {
    color: #ca4754;
    border-radius: 4px;
}
/* .typing-text p span.active {
    color: #17A2B8;
} */
.typing-text p span.active::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    opacity: 0;
    border-radius: 5px;
    background: #bba9db;
    animation: blink 1s ease-in-out infinite;
}
@keyframes blink {
    50% {
        opacity: 1;
    }
}
.content-box .content {
    margin-top: 17px;
    display: flex;
    padding: 17px 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border-top: 3px solid #bba9db;
}
.content button {
    outline: none;
    border: none;
    color: #bba9db;
    padding: 8px 0;
    font-weight: 600;
    cursor: pointer;
    border-radius: 15px;
    border: 3px solid #bba9db;
    background: none;
    transition: transform 0.4s ease;
    display:block;
    background-color: #82b7f3;
    width:80%;
    color : white;
    font-size: 20px;
}

.content button:hover {
    transform: scale(1.2);
    background: #FFFFFF;
    color: black;
}
.content .result-details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    justify-content: space-between;
}
.result-details li {
    display: flex;
    list-style: none;
    position: relative;
    align-items: center;
    margin: 30px 0px;
    
}
.result-details li:not(:first-child) {
    padding: 0px 10px;
    border-left: 2px solid #bfbfbf;
}
.result-details li p {
    font-size: 20px;
    padding-bottom: 10px;
}
.result-details li span {
    display: block;
    font-size: 20px;
    margin-left: 10px;
    padding-bottom: 10px;
}
li span b {
    font-weight: 500;
}
li:not(:first-child) span {
    font-weight: 500;
}
@media (max-width: 745px) {
    .wrapper {
        padding: 20px;
    }
    .content-box .content {
        padding: 20px 0;
    }
    .content-box .typing-text {
        max-height: 100%;
    }
    .typing-text p {
        font-size: 19px;
        text-align: left;
    }
    .content button {
        width: 100%;
        font-size: 15px;
        padding: 10px 0;
        margin-top: 20px;
    }
    .content .result-details {
        width: 100%;
    }
    .result-details li:not(:first-child) {
        border-left: 0;
        padding: 0;
    }
    .result-details li p,
    .result-details li span {
        font-size: 17px;
    }
}
@media (max-width: 518px) {
    .wrapper .content-box {
        padding: 10px 15px 0;
    }
    .typing-text p {
        font-size: 13px;
    }
    .result-details li {
        margin-bottom: 10px;
    }
    .content button {
        margin-top: 10px;
    }
    .result-details li p,
    .result-details li span {
        font-size: 12px;
    }
}